#para {
  height:500px;
  background-image:url("apple1.jpg");
  background-position:center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}




